@page "/mtg/customsets"
@using System.Security.Principal;
@using Microsoft.AspNetCore.Identity;
@using tcgct_services_framework.Identity;
@using tcgct_services_framework.Identity.Interface;
@using tcgct_services_framework.MTG.Models;
@using tcgct_services_framework.MTG.Services;
@inject AuthenticationStateProvider auth
@inject IMTGCustomSetService customSetService
@inject IMTGCollectionService collectionService
<h3>CustomSets</h3>
@if (sets is not null)
{
	<MudTable Items="@sets">
		<ToolBarContent>
			<MudText>All MTG Sets</MudText>
		</ToolBarContent>
		<HeaderContent>
			<MudTh>ID</MudTh>
			<MudTh>Name</MudTh>
			<MudTh>Description</MudTh>
			<MudTh>Collected Count</MudTh>
			<MudTh>Collecting Target</MudTh>
			<MudTh>Edit</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd>@context.ID</MudTd>
			<MudTd>@context.Name</MudTd>
			<MudTh>@context.Description</MudTh>
			<MudTh>@context.CollectedCount</MudTh>
			<MudTh>@context.CollectedTarget</MudTh>
			<MudTd><MudLink Href=@($"mtg/customsets/{context.ID}")>View</MudLink></MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager />
		</PagerContent>
	</MudTable>
}
else
{
	<h1>Loading . . .</h1>
}


@code {
	AuthenticationState? authState;
	IEnumerable<CustomSet>? sets = null;
	protected override async Task OnInitializedAsync()
	{
		authState = await auth.GetAuthenticationStateAsync();
		sets = customSetService.GetSets(Helpers.AuthHelper.GetUserID(authState));
		foreach (var set in sets)
		{
			set.CollectedCount = customSetService.GetCollectionCount(set.ID);	
		}
	}
}
