@page "/mtg/sets/{set_id}"
@page "/mtg/customsets/{set_id}"
@using tcgct_mud.Data;
@using tcgct_services_framework.Generic;
@using tcgct_services_framework.MTG.Models;
@using tcgct_services_framework;
@using tcgct_services_framework.MTG;
@using Components
@using tcgct_services_framework.MTG.Services;
@using tcgct_mud.Helpers;

@inject AuthenticationStateProvider auth
@inject IMTGCardService cardService
@inject IMTGCollectionService collectionService
@inject IMTGCustomSetService customSetService
@inject IDialogService DialogService
@inject NavigationManager navManager

@if(data == null)
{
	<h1>Loading . . .</h1>
}
else
{
	<MudStack>

		<AuthorizeView>
			<Authorized>
				<MudPaper>
					<MudToolBar Class="pa-3">
						<MudSwitch @bind-Checked="@quickEdit" Class="mr-5" Color="Color.Primary">Quick Edit</MudSwitch>
						<MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="OpenLog">Show Log</MudButton>

						<MudSpacer />
						<MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="SaveChanges">Save</MudButton>
					</MudToolBar>
				</MudPaper>
			</Authorized>
		</AuthorizeView>

		@if (messages.Count != 0)
		{
			<MudPaper Class="pa-3">
				@foreach (var message in messages)
				{
					<MudAlert Severity="message.Severity" ShowCloseIcon="true" CloseIconClicked="(() => messages.Remove(message))">@message.Text</MudAlert>
				}
			</MudPaper>
		}

		<MudPaper Class="pa-3">
			<MudTable Items="@data" Loading="loading" @ref="mudTable" Filter="new Func<DisplayHTML<Card>,bool>(FilterFuncBase)">
				<ToolBarContent>
					@if (customSet)
					{
						// todo: need a way to get the customset name, preferably without another sql call
						<MudText>Viewing a custom set</MudText>
					}
					else
					{
						<MudText>Viewing set: @data.First()?.Object.Set.Name</MudText>						
					}
					<MudSpacer />
					<MudTextField ReadOnly="true" Immediate="true" Placeholder="@filterValue" Adornment="Adornment.Start" Value="filterValue" OnKeyDown="DownHandler" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
					<MudTh>Collector Number</MudTh>
					<MudTh>Name</MudTh>
					<MudTh>Mana Cost</MudTh>
					<MudTh>Text</MudTh>
					<MudTh>Flavor</MudTh>
					<MudTh>Image / Show Faces</MudTh>
					<AuthorizeView>
						<Authorized>
							<MudTh>Collected</MudTh>
							@if (!quickEdit)
							{
								<MudTh>Add / Remove</MudTh>
							}
						</Authorized>
					</AuthorizeView>
				</HeaderContent>
				<RowTemplate>
					@if (!loading)
					{
						<MudTd>@context.Object.Collector_Number</MudTd>
						<MudTd>@context.Object.Name</MudTd>
						<MudTd>@context.Object.ManaCost</MudTd>
						<MudTd>@context.Object.Text</MudTd>
						<MudTd><i>@context.Object.Flavor</i></MudTd>
						@if (context.Object.MultiFace)
						{
							<MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowFaces(context.Object.Collector_Number))">@(context.HTML.Show ? "Hide" : "Show")</MudButton></MudTd>
						}
						else
						{
							<MudTd><MudImage Src="@context.Object.Image" Height="200" /></MudTd>
						}
						<AuthorizeView>
							<Authorized Context="auth_context">
								<MudTd>@context.Object.Collected</MudTd>
								@if (!quickEdit)
								{
									<MudTd>
										<MudIconButton Color="Color.Success" Icon="@Icons.Material.Filled.ExposurePlus1" OnClick="@(() => AddCard(context.Object))"></MudIconButton>
										<MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.ExposureNeg1" OnClick="@(() => RemoveCard(context.Object))"></MudIconButton>
									</MudTd>
								}
							</Authorized>
						</AuthorizeView>

					}
				</RowTemplate>
				<ChildRowContent>
					@if (context.HTML.Show)
					{
						<MudTr>
							<td colspan="7">
								<MudCard Elevation="0">
									<MudCardHeader>
										<CardHeaderContent>
											<MudText Align="Align.Center" Typo="Typo.body1">Card Faces for <strong>@context.Object.Name</strong></MudText>
										</CardHeaderContent>
									</MudCardHeader>
									<MudCardContent Style="padding-left:400px;">
										<MudTable Items="@context.Object.Faces" Context="faceContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
											<HeaderContent>
												<MudTh>Name</MudTh>
												<MudTh>Mana Cost</MudTh>
												<MudTh>Text</MudTh>
												<MudTh>Image</MudTh>
											</HeaderContent>
											<RowTemplate>
												<MudTd>@faceContext.Name</MudTd>
												<MudTd>@faceContext.ManaCost</MudTd>
												<MudTd>@faceContext.OracleText</MudTd>
												<MudTd><MudImage Src="@faceContext.Image" Height="200" /></MudTd>
											</RowTemplate>
										</MudTable>
									</MudCardContent>
								</MudCard>
							</td>
						</MudTr>
					}
				</ChildRowContent>
				<PagerContent>
					<MudTablePager />
				</PagerContent>
			</MudTable>
		</MudPaper>
	</MudStack>
}

@code {
	[Parameter]
	public string set_id { get; set; }

	int user_id = -1;

	MudTable<DisplayHTML<Card>>? mudTable;
	bool quickEdit;
	public string _filterValue = "";
	public string filterValue 
	{
		get
		{
			return _filterValue;
		}
		set
		{
			_filterValue = value;
		}
	}

	bool customSet = false;

	bool loading = true;
	List<Message> messages;

	List<EditLog<Card>> log;

	List<DisplayHTML<Card>> data;

	protected override async Task OnInitializedAsync()
	{
		customSet = navManager.Uri.Contains("customsets");
		var authState = await auth.GetAuthenticationStateAsync();

		if (authState.User.Identity is not null)
		{
			if (authState.User.Identity.IsAuthenticated)
			{
				user_id = AuthHelper.GetUserID(authState);
			}			
		}

		IEnumerable<Card> _data;

		if (customSet)
		{
			_data = await customSetService.GetCards(int.Parse(set_id), user_id);
		}
		else
		{
			_data = await cardService.GetSetCardsAsync(int.Parse(set_id));
		}

		// todo: change to dictionary
		data = new List<DisplayHTML<Card>>();

		_data.ToList().ForEach(fe =>
		{
			data.Add(new DisplayHTML<Card>(fe));
		});

		log = new List<EditLog<Card>>();
		messages = new List<Message>();
		loading = false;
	}

	public void AddCard(Card card)
	{
		card.Collected++;
		log.Add(new EditLog<Card> 
			{ 
				Card = card,
				QuickEdit = quickEdit,
				ChangeAmount = 1,
				Time = DateTime.Now
			});
	}
	public void RemoveCard(Card card)
	{
		if (card.Collected != 0)
		{
			card.Collected--; 			
			log.Add(new EditLog<Card> 
				{ 
					Card = card,
					QuickEdit = quickEdit,
					ChangeAmount = -1,
					Time = DateTime.Now
				});
		}
	}

	private bool FilterFuncBase(DisplayHTML<Card> card) => FilterFunc(card, filterValue);
	private bool FilterFunc(DisplayHTML<Card> card, string value)
	{
		if (string.IsNullOrWhiteSpace(value))
		{
			return true;			
		}
		if (quickEdit)
		{
			if (card.Object.Collector_Number == value)
			{
				return true;
			}
			return false;
		}
		if (card.Object.Collector_Number.Contains(value, StringComparison.OrdinalIgnoreCase))
		{
			return true;			
		}

		if (card.Object.Name.Contains(value, StringComparison.OrdinalIgnoreCase))
		{
			return true;			
		}

		return false;
	}

	private void ShowFaces(string collectors_number)
	{
		DisplayHTML<Card> temp = data.Single(s => s.Object.Collector_Number == collectors_number);
		temp.HTML.Show = !temp.HTML.Show;
	}

	string[] invalidQuickEdit = new string[]
	{
		"+",
		"-",
		".",
		"backspace",
		"enter"
	};
	private void DownHandler(KeyboardEventArgs args)
	{
		if (args.Key == "Backspace")
		{
			if (filterValue.Length == 0)
			{
				return;
			}
			filterValue = filterValue.Substring(0, filterValue.Length - 1);
			return;
		}
		if (quickEdit)
		{
			if(mudTable.GetFilteredItemsCount() == 1)
			{
				if (args.Key == "+")
				{
					AddCard(mudTable.FilteredItems.First().Object);
					return;
				}
				if (args.Key == "-")
				{
					RemoveCard(mudTable.FilteredItems.First().Object);
					return;
				}
				if(args.Key == ".")
				{
					filterValue = "";
					return;
				}
			}			
		}
		if(args.Key.Length > 1 || invalidQuickEdit.Contains(args.Key))
		{
			return;
		}
		filterValue += args.Key;
	}

	private void SaveChanges()
	{
		if(user_id != -1)
		{
			loading = true;
			List<Collection> collection = data.Select(s => new Collection{ CardID = s.Object.ID, UserID = user_id, Count = s.Object.Collected  }).ToList();
			collectionService.UpdateCollected(collection, user_id, log);
			loading = false;
			messages.Add(new Message(Severity.Success, "Sucessfully updated collection!"));			
		}
		else
		{
			messages.Add(new Message(Severity.Error, "UserID is null, cannot save changes."));
		}
	}

	private void OpenLog()
	{
		var parameters = new DialogParameters { { "Log", log } };

		DialogService.Show<EditLogDialog<Card>>("Edit Log", parameters);
	}
}
